<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">Inicio</a>
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/home']">Inicio</a>
        <a class="nav-item nav-link" [routerLink]="['/view1']">Vista 1</a>
        <a class="nav-item nav-link" [routerLink]="['/view2']" >Vista 2</a>
      </div>
    </div>
  </nav> -->

  <app-navbar></app-navbar>
<router-outlet></router-outlet>
