<div class="container">
    <div class="mt-3 mb-3 row justify-content-center"> 
        <button type="button" class="btn btn-primary " (click)="get()">Mostrar Datos</button>
    </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <ng-container *ngFor="let header of rowLetter">
                    <th  scope="col">{{header}}</th>
                </ng-container>
                
                
              </tr>
            </thead>
            <tbody>
             <ng-container *ngFor="let paragraph of this.response2.data; let i = index">

                <tr>
                <th scope="row">{{i+1}}</th>
                <ng-container *ngFor="let letter of rowLetter">
                <td>{{myFunction(paragraph.paragraph,letter,0,0)}}</td>
                </ng-container>
              </tr>
            </ng-container>
             
            </tbody>
          </table>
        </div>
    